#board {
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

#buttons {
    position: relative;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 3px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
